*{
    background-color: black;

}
div{
    display: flex;
    margin: 20px;
    height: 50px;
    gap:1rem;
}
input{
    width: 60%;
    color: white;
    border: 1px solid white;
    padding: 15px;
}
input::placeholder{
    color: white;
}
button{
    width: 20%;
    color: white;
    border: 1px solid white;
}

table,tbody{
    width: 97%;
    margin: 20px;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid white;
    color: white;
    
    height: 60px;
    text-align: center;
}
img{
    height: 40px;
    width: 40px;
}
.name{
    text-align: left;
}
.green{
    color: green;
}
.red{
    color: red;
}

